.section-1-parent-container {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;
    gap: 10px; 
    width: auto;
    background-color: #1F2937;
    padding-left: 5dvw;
    padding-right: 5dvw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-1-child-container {
    /* border: 1px solid red; */
    margin-top: 1dvw;
    font-weight: bold;
    margin-bottom: 5dvw;
    margin-left: 1dvw;
    margin-right: 1dvw;
    padding: 1dvw;
}

.section-2-parent-container {
    /* border: 1px solid red; */
    padding-left: 10px;
    padding-right: 10px;
}

.section-2-child-container {
    /* border: 1px solid blue; */
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 24px;
    display: flex;
}

.section-2-child-child-container {
    /* border: 1px solid red; */
    margin: 5px;
    color: black;
    font-size: 15px;
    width: 150px;
    padding: 10px;
}

.section-2-child-container-picture {
    justify-content: center;
    display: inline-flex;
    border: 3px solid rgb(97, 97, 247);
    width: 120px;
    height: 120px;
    margin: 5px;
    border-radius: 7px;
}

.section-3-parent-container {
    /* border: 1px solid red; */
    padding-left: 15dvw;
    padding-right: 15dvw;
    background-color:#E5E7EB;
    padding-top: 10dvw;
    padding-bottom: 10dvw;
}

.section-3-child-container {
    font-size: clamp(2.5dvw, 3dvw, 4dvw);
    font-style: light italic;
    color: #1F2937;
}

button {
    background-color: #3882F6;
    color: white;
    width: 10dvw;
    height: 2dvw;
    border-radius: 3px;
    border: 1px solid #3882F6;
    margin-top: 1dvw;
    margin-left: 1dvw;
    font-size: min(4dvw, 1dvw);
}

.image-placeholder {
    background-color: grey;
    width: 40dvw; 
    height: 10dvw;
    text-align: center;
    padding: 5dvw;
    justify-content: center;
    margin-left: auto;
    align-items: center;
    display: flex;
    color: white;
}

.hero-main-text {
    text-align: left;
    font-size: min(7dvw, 3dvw); 
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: min(4dvw, 1.5dvw); 
    color: #E5E7EB;
    font-weight: 300;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link-container {
    justify-content: right;
    align-items: right;
    text-align: right;
}

.header-link-text {
    font-size: 18px; 
    color: #E5E7EB;
    font-weight: 300;
}

.section-4-parent-container {
    border: 1px solid red;
    padding-left: 10dvw;
    padding-right: 10dvw;
    padding-top: 10dvw;
    padding-bottom: 10dvw;
    color: white;
    font-weight: 100;
    font-size: min(4dvw, 2dvw);
}

.section-4-child-container {
    border: 1px solid red;
    border-radius: 1dvw;
    display: flex;
    background-color: rgb(64,132,244);
    padding-top: 5dvw;
    padding-bottom: 5dvw;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.section-4-child-child-container {
    border: 1px solid red;
}

.button2 {
    display: flex;
    color: white;
    width: 15dvw;
    height: 3dvw;
    border-radius: 3px;
    text-align: center;
    border: 1px solid white;
    font-size: min(4dvw, 2dvw);
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-left: 3dvw;
}